{% extends 'base.html' %}

{% block title %}Mike Huffman - Home Page{% endblock %}


{% block body %}

<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h1 class="mb-0">Mike
        <span class="text-primary">Huffman, CFA</span>
      </h1>
      <div class="subheading mb-5">Denver, CO<br/>
          <a href="mailto:mhuffman88@ymail.com">mhuffman88@ymail.com</a>
          <a href="https://www.linkedin.com/in/mike-huffman/">LinkedIn Profile</a>
      </div>
      <p class="lead mb-5">
          I have years of experience exploring various corners of the financial markets through
          brokerage/sales, complex options trading, Eurodollar interest rate futures trading, and
          expanding my horizons through the CFA program.
      </p>
    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
      <h2 class="mb-5">Resume</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
            <h3 class="mb-0">Office Manager</h3>
        <div class="subheading mb-3">Pikes Peak Property Management</div>
            <p>
              Generating monthly billing reports for 120 units, executing modifications
              as well as identifying & communicating discrepancies, which resulted in
              boosted accuracy & tenant appreciation.
            </p>
            <p>
                Develop and manage programming solutions including a company website to
                provide accessibility & an online presence to the company for the first
                time & property management algorithms to increase efficiency.
            </p>
            <p>
                Consult with the general manager on new processes & hiring, increasing
                overall firm efficiency & increasing employee retention.
            </p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">February 2016 - Present</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
            <h3 class="mb-0">Futures Trader</h3>
        <div class="subheading mb-3">Rowan Financial</div>
            <p>
                Utilized multiple strategies to trade Eurodollar futures in an array of
                market conditions, generating monthly revenue of $60k & receiving the
                1st contract in my trader group.
            </p>
            <p>
                Analyzed macro-economic data & market conditions on a daily basis to
                gain further knowledge on the inter-correlations between data figures
                & better forecast short-term moves.
            </p>
            <p>
                Trained an understudy clerk on the principles of the trade, developing
                his skills to the point where he was a profitable trader & position
                manager within 2 months.
            </p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">January 2014 - February 2016</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
            <h3 class="mb-0">Stockbroker</h3>
          <div class="subheading mb-3">Scottrade</div>
            <p>
                Communicated with 30-40 investors (phone/in person) on a daily basis,
                providing investment advice, education, & capitalizing on business development
                opportunities that resulted in $2.5 million in Quarterly account flows.
            </p>
            <p>
                Presented two seminars over investment topics to 10-15 investors month,
                increasing business development success & maintaining a high percentage of
                client presentation retention.
            </p>
            <p>
                Promoted Scottrade’s products & services with the highest level of quality,
                resulting in top firm customer service ranking on an annual basis, the
                Outstanding Customer Service Award in 2010-2011, & being 1 of 20 brokers
                nationally to receive an invitation to the Advanced Broker training program.
            </p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">March 2010 - January 2014</span>
        </div>
      </div>

    </div>

  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <div class="my-auto">
      <h2 class="mb-5">Education</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">CFA Program</h3>
          <div class="subheading mb-3">Level I: Passed June 2016 (1st Attempt)</div>
          <div class="subheading mb-3">Level II: Passed June 2017 (1st Attempt)</div>
          <div class="subheading mb-3">Level III: Passed June 2018 (1st Attempt)</div>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">February 2016 - August 2018</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
              <h3 class="mb-0">University of Colorado at Colorado Springs</h3>
          <div class="subheading mb-3">Bachelor of Science</div>
          <div>Finance & International Business</div>
          <p>GPA: 3.6</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">August 2006 - December 2010</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
              <h3 class="mb-0">Widefield High School</h3>
          <div class="subheading mb-3">High School Diploma</div>
          <p>GPA: 3.6</p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">August 2002 - May 2006</span>
        </div>
      </div>

    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
      <h2 class="mb-5">Skills</h2>

    <div class="subheading">Financial Analytics:</div>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>CFA Studies:</li>
          <ul>
              <li>Financial Modeling</li>
              <li>Macroeconomic Forecasting</li>
          </ul>
        <li><i class="fa-li fa fa-check"></i>External Resources:</li>
          <ul>
              <li>Microsoft Excel for the Data Analyst (edX.org)</li>
              <li>Hedge Fund & Investment Services News (opalesque.com/)</li>
          </ul>
        <li><i class="fa-li fa fa-check"></i>Notable Books Read:</li>
          <ul>
              <li>Margin of Safety (Seth Klarman)</li>
              <li>The Intelligent Investor (Benjamin Graham)</li>
              <li>Security Analysis (Benjamin Graham)</li>
              <li>Common Stocks & Uncommon Profits (Philip Fisher)</li>
              <li>One Up on Wall Street (Peter Lynch)</li>
              <li>The Four Pillars of Investing (William Bernsetin)</li>
          </ul>
      </ul>

    <div class="subheading mb-3">Programming:</div>
      <ul class="fa-ul mb-0">
        <li><i class="fa-li fa fa-check"></i>Python</li>
          <ul>
              <li>Data Science with Python (datacamp.com)</li>
              <li>Django Web Development</li>
              <li>Web Scraping with Python</li>
          </ul>
        <li><i class="fa-li fa fa-check"></i>Notable Books Read:</li>
          <ul>
              <li>Test Driven Development with Python (Harry Percival)</li>
              <li>Django Web Development with Python (Samuel Dauzon et al)</li>
              <li>Python Web Scraping (Katherine Jarmul et al)</li>
              <li>Python Data Science handbook (Jake VanderPlas)</li>
          </ul>
      </ul>

        <div class="subheading mb-3">Current Projects:</div>
            <p>
                Given my curiosity with the health of financial markets from a top-down approach,
                I am currently working on a algorithm that scrapes the SEC filings of corporations.
                This program will pull a given number of filings and locate the balance sheet, income
                statement, and cash flow statement. After pulling these statements, the program will
                clean and combine the statements, allowing you to view a multiple period statement
                from the referenced company.</p>
            <p>THE OVERALL GOAL OF THIS ALGORITHM IS TO AUTOMATE THE
                FINANCIAL MODELING PROCESS AND PROVIDE FOR THE ABILITY TO GATHER MASS AMOUNTS OF
                DATA TO IDENTIFY OVERALL TRENDS IN FINANCIAL STATEMENTS FOR ANALYSIS.
            </p>
    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
      <div class="my-auto">
          <h2 class="mb-5">Financial Philosophy</h2>

          <div class="subheading mb-3">Theory:</div>
            <p>No</p>

          <div class="subheading mb-3">Current Economic Stance:</div>
            <p>No</p>
    </div>
  </section>

  <hr class="m-0">

  <!--<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
    <div class="my-auto">
      <h2 class="mb-5">Awards &amp; Certifications</h2>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Google Analytics Certified Developer</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Mobile Web Specialist - Google Certification</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1<sup>st</sup>
          Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1<sup>st</sup>
          Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          2<sup>nd</sup>
          Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1<sup>st</sup>
          Place - James Buchanan High School - Hackathon 2006</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          3<sup>rd</sup>
          Place - James Buchanan High School - Hackathon 2005</li>
      </ul>
    </div>
  </section>-->

</div>

{% endblock  %}